name: Release Build

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Build & Release
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Install dependencies
        run: flutter pub get

      - name: Verify Code (Analyze & Test)
        run: |
          dart format --output=none --set-exit-if-changed .
          flutter analyze
          flutter test

      - name: Build APK (Release)
        run: flutter build apk --release --no-shrink

      - name: Build App Bundle (AAB)
        run: flutter build appbundle --release --no-shrink

      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            build/app/outputs/flutter-apk/app-release.apk
            build/app/outputs/bundle/release/app-release.aab
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
